        <div id="main_login">
            <div id="form">
    
        <form name="form1" method="post" action="./" id="form1">
                      <div class="row">
                          <div class="left">
                              <span>Bank Name:</span>
                          </div>
                          <div class="right">
                            <select  id="select1">
                              <option *ngFor = "let process of processes[0].Bank_Name" [ngValue]="process.bankname">
                                 {{process}} 
                              </option>
                            </select>
                          </div>
                      </div>
                      <div class="row">
                          <div class="left">
                              <span >Role:</span>
                          </div>
                          <div class="right">
                              <select  id="select2">
                                  <option *ngFor = "let process of processes[0].Role; let i=index"
                                      [ngValue] = "process.role">
                                       {{process}} 
                                  </option>
                                </select>
                          </div>
                      </div>
                      <div class="row">
                          <div class="left">
                              <span id="Label7">Password:</span>
                          </div>
                          <div class="right">
                              <input name="txtPassword" type="password" id="txtPassword" />
                              <span id="RequiredFieldValidator2" title="Please enter password" style="color:Red;display:none;">*</span>
                          </div>
                      </div>
                    
                          <div class="row">
                              <div class="right">
                                  <button [routerLink]="['/page1']" (click)=fetchData()>Submit</button> 
                                </div>
                          </div>
                          <div class="row">
                              <div class="left">
                                  <span id="lblMessage"></span>
                              </div>
                          </div>
      
                          <br />
                          <br />
                          <div>
                              <a id="lbGetBlankCopy" href="javascript:__doPostBack(&#39;lbGetBlankCopy&#39;,&#39;&#39;)">1. Get a blank SLBC Statement copy.</a>
                          </div>
                         
                         </form>
            </div>
            </div>
          

        
  
   <!-- <input type="text" [(ngModel)]=cityName>
   <button (click)=searchcity>Submit</button> -->


   