
body {
	font: 15px Trebuchet MS, Helvetica, sans-serif;
	color: #000000;
	background-repeat: repeat-y;
	background-position: center center;		
	line-height: 15px;
	/*border-top: 3px solid #15538E;*/
}

#centered 
{    
position: absolute;
top: 50%;
left: 50%;
margin-top: -25%;
margin-left: -25%;
width:50%;
}

#main_register{
width:479px;
margin-top:50px;
padding:0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

#main_login{
width:479px;
margin-top:150px;
padding:0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

#main_changepwd{
width:479px;
margin-top:150px;
padding:0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

#form{
width:100%;
float:left;
border-radius:5px;
background:rgba(255,255,255,.4);
}
form{
margin:10px;
float:left;
}
form .row{
float:left;
width:100%;
margin:5px 0;
}
form .left{
float:left;
padding:5px;
}
form .right{
float:right;

}
form select
{
    border:1px solid #E0E0E0;
    width:216px;
    padding:3px;
}
form input[type="text"]{
border-radius:4px;
border:1px solid #E0E0E0;
padding:5px;
width:205px;
}
form input[type="password"]{
border-radius:4px;
border:1px solid #E0E0E0;
padding:5px;
width:205px;
}
form .btn
{
/*background:#5F87B5;*/
background:#0054FD;
border-radius:3px;
text-align:center;
min-width:50px;
margin:auto 0;
border:none;
cursor:pointer;
padding:5px 10px;
color:White;
font-weight:bold;
}

#select1,#select2{
    text-align:center;
 
}
