<body>
  <form name="aspnetForm" method="post" action="./AdminSelectionPage.aspx" id="aspnetForm">

  <div class="maincontainer">
      <div class="padleft10">
          <div class="row">
              <div class="right">
                  <span id="ctl00_lblWelcomeMsg">Welcome UCO Bank,Circle Office!</span>
                  <a id="ctl00_linkBtnLoginStatus" href="javascript:__doPostBack(&#39;ctl00$linkBtnLoginStatus&#39;,&#39;&#39;)">LogOut</a>
              </div>
              <div class="left">
                  <a id="ctl00_hLinkDashboard" href="AdminSelectionPage.aspx">Go to Dashboard</a>
              </div>
          </div>
      </div>
       
<br /><br /><br />     
  
  <div align="left">
   <h2><b>SLBC</b></h2>  
   <b>Note:-</b>     
      <span id="ctl00_ContentPlaceHolder1_Label1" style="font-weight:bold;">Select from the below options. <u>'1.SLBC Data Entry Sept 2017 Form'</u>   will take you to the page to make the data entries.   <u>'2.Admin Page'</u>    allows you to perform administrator related work.  <u>'3.All Reports Page'</u>     allows you to see All the reports. </span>
      <br />
      <br />       
      <a id="ctl00_ContentPlaceHolder1_HyperLink1" href="Page1.aspx"><h3>1.SLBC Data Entry Sept 2017 Form</h3></a>
     
      <a id="ctl00_ContentPlaceHolder1_HyperLink2" href="Admin.aspx"><h3>2.Admin Page</h3></a>
      
      <a id="ctl00_ContentPlaceHolder1_HyperLink3" href="Reports/AllReportsForBanks.aspx"><h3>3.All Reports Page</h3></a>
  </div>

  <br />
 
  <div align="left">
  <h2><b>LBS-MIS</b></h2>
   <b>Note:-</b>
      <span id="ctl00_ContentPlaceHolder1_Label3" style="font-weight:bold;">Select from the below options. <br/><u>'1.LBS-MIS II Data Entry Form'</u>.   will take you to the page to the Online Data entry of LBS-MIS-II.</span>
      <br />    
      <span id="ctl00_ContentPlaceHolder1_Label2" style="font-weight:bold;"><u>'2.Status of all districts'</u>.   will take you to the page to check the Data entry status of the LDMs.</span>        
      <br />      
         <span id="ctl00_ContentPlaceHolder1_Label4" style="font-weight:bold;"><u>'3.All Reports Page'</u> allows you to see All the reports. </span>  
        <br />
        <br />       
      <a id="ctl00_ContentPlaceHolder1_HyperLink_5" href="#" routerLink="/page2">"><h3>1. LBS-MIS II Data Entry Form</h3></a> 
            
      <a id="ctl00_ContentPlaceHolder1_HyperLink4" href="LDM_BanksStatus.aspx"><h3>2. Status of all Banks</h3></a>
      <a id="ctl00_ContentPlaceHolder1_HyperLink6" href="LDM_DistrictsStatus.aspx"><h3>3. Status of all Districts</h3></a>
      <a id="ctl00_ContentPlaceHolder1_HyperLink5" href="LDM_AllReportsDetails.aspx"><h3>4. All Reports</h3></a>
  </div> 

  <br />


  </div>
  </form>
</body>
