/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  body, input[text], button {
    color: #000;
    font: 15px Trebuchet MS, Helvetica, sans-serif;
	background-repeat: repeat-y;
	background-position: center center;		
	line-height: 15px;
    background-image: url(http://www.solidbackgrounds.com/images/5120x2880/5120x2880-light-sky-blue-solid-color-background.jpg);
  }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }